# Core functionality - changes here should be rare!
/src/app.py                   @amankaushik9
/src/backend/database.py      @amankaushik9
/src/backend/routers/auth.py  @amankaushik9

# The frontend will need refactored soon to be more object oriented.
/src/static/   @amankaushik9
